.idea
*.iml
FoodOrderingApp-api/target
FoodOrderingApp-db/target
FoodOrderingApp-service/target

FoodOrderingApp-db/src/main/resources/config/localhost.properties
FoodOrderingApp-api/src/main/resources/application.yaml











